* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;    
}


header {
    padding: 40px 20px;
    background-color: #36323f93;

}

header h1, h2, header p{
    text-align: center;
    color: #EEEEEE;
    height: 100%;
}

header h1 {
    font-size: 10vw;
    text-shadow: 4px 3px 0 #404040;
}

header h2 {
    font-size: 5vw;
    padding: 20px;
    text-shadow: 4px 3px 0 #404040;

}

header p {
    font-size: 3vw;
    padding: 20px;
    text-shadow: 4px 3px 0 #404040;

}

#video-background {
    position:fixed;
    z-index: -1;
    width: 100vw;
    height: 60vw;
    text-align: center;
}

#myVideo {
    height: 150%;
    
}

.navbar {
    background-color: orange;
    display: flex;
    height: 50px;
    align-items: center;
}

.navbar img{
    max-height: 100%;
}

#main-body {
    background-color: #2f2f41;
    padding: 60px 45px;
    
}

#text-body {
    background-color: #2f2f41;
    margin: 0px auto;
    line-height: 25px;
    color: #EEEEEE;
    max-width: 500px;
    
}

#text-body .image {
    text-align: center;
    margin-bottom: -45px;
}

#text-body h3{
    font-size: 2em;
    font-weight: bold;
    margin: 50px auto;


    color: #e5dab8;

}

#text-body p {
    margin: 15px auto;
    font-size: 1.35em;
    text-align: justify;

}

#text-body ul{

    list-style-position: inside;
    margin: 0px auto;
    font-size: 1.25em;
    line-height: 1.75em;
    
}

#text-body li{
    margin-left: 30px;
}

#text-body footer{
    color: black;
    
}

#text-body footer p {
    text-align: center;
    margin-top: 50px;
}

@media (min-width: 579px)
{
    #myVideo{
        height: 100%;
    }

    #text-body{
        max-width: 1000px;
    }

    .navbar {
        background-color: orange;
        display: flex;
        height: 100px;
        align-items: center;
    }

    .navbar h3 {
        font-size: 3em;
    }
    header h1 {
        font-size: 8vw;
    }
    
    header h2 {
        font-size: 4vw;
        padding: 20px;
    
    }
    
    header p {
        font-size: 2vw;
        padding: 20px;
    
    }
    
}